[submodule "Final Project/sproj-frontend/Final Project/sproj-frontend/sproj-frontend"]
	path = Final Project/sproj-frontend/Final Project/sproj-frontend/sproj-frontend
	url = https://github.com/DhanushkaRath/sproj-frontend
